{% extends 'statlist/base.html' %}
{% load static %}

{% block content %}
<h4 class="head-c">Please Select the Club</h4>
<form action={% url 'club' %} method="POST">
    {% csrf_token %}
    
    <select name="clubSet" id="clubSet" selected="selected">
        {% for club in clubs %}
        <option value="{{club}}">{{club}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Check Squad">
</form>

{% if players %}
<div class="show-list">
    <div>
        <p class="country-info">{{clubname}} <img src="{{clublogo}}" alt=""></p>
        <table>
            <tr>
                <th>Player Name</th>
                <th>Player Position</th>
                <th>Preferred Foot</th>
            </tr>


            {% for player in players %}
            <tr>
                <td>{{player.playerName}}</td>
                <td>{{player.playerPosition}}</td>
                <td>{{player.skills.prefferedFoot}}</td>
            </tr>


            {% endfor %}
        </table>
    </div>
    <div class="squad">
        <div class="formation">

            <div>
                <p>GK</p>
            </div>
            <div>
                <p>RB</p>
                <p>CB</p>
                <p>CB</p>
                <p>LB</p>
            </div>
            <div>
                <p>RM</p>
                <p>CDM</p>
                <p>LM</p>
            </div>
            <div>
                <p>RW</p>
                <p>ST</p>
                <p>LW</p>
            </div>

        </div>
    </div>
</div>

{% endif %}

{% endblock %}