{% extends 'statlist/base.html' %}
{% load static %}

{% block content %}
<h4 class="head-c">Please Select the country</h4>
<form action={% url 'country' %} method="POST">
    {% csrf_token %}
    <select name="countrySet" id="countrySet" selected = "selected">
        {% for country in countries %}
        <option value="{{country}}">{{country}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Check Squad">
</form>


{% if players %}
<div class="show-list">
    <div>
        <p class="country-info">{{countryname}} <img src="{{countryflag}}" alt=""></p>
        <table>
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Player Position</th>
                    <th>Preferred Foot</th>
                </tr>

            </thead>
            
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{player.playerName}}</td>
                    <td>{{player.playerPosition}}</td>
                    <td>{{player.skills.prefferedFoot}}</td>
                </tr>
                
                
                {% endfor %}

            </tbody>
                
        </table>
    </div>
    <div class="squad">
            <div class="formation">
                
               <div>
                <p>GK</p>
               </div>
               <div>
                    <p>RB</p>
                    <p>CB</p>
                   <p>CB</p>
                   <p>LB</p>
               </div>
               <div>
                   <p>RM</p>
                   <p>CDM</p>
                   <p>LM</p>
               </div>
               <div>
                   <p>RW</p>
                   <p>ST</p>
                   <p>LW</p>
               </div>
               
            </div>
    </div>
</div>
   
{% endif %}

{% endblock %}